<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>375628298664-1o6kaqs6de3rn8svatrpa6veplg04dgo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.375628298664-1o6kaqs6de3rn8svatrpa6veplg04dgo</string>
	<key>API_KEY</key>
	<string>AIzaSyB4aEGQ9jDYMtzgpRwmkikf_VJ1fEUoEKg</string>
	<key>GCM_SENDER_ID</key>
	<string>375628298664</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.labely.ios</string>
	<key>PROJECT_ID</key>
	<string>labely-99a1c</string>
	<key>STORAGE_BUCKET</key>
	<string>labely-99a1c.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:375628298664:ios:cbb24a8910f4693b0a459d</string>
</dict>
</plist>
