<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>com.labely.ios.skadevents</string>
	</array>
	<key>CFBundleDisplayName</key>
	<string>Labely</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>GoogleSignIn</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.375628298664-1o6kaqs6de3rn8svatrpa6veplg04dgo</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.facebook.sdk</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb1313964556984936</string>
			</array>
		</dict>
	</array>
	<key>FacebookAdvertiserIDCollectionEnabled</key>
	<true/>
	<key>FacebookAppID</key>
	<string>1313964556984936</string>
	<key>FacebookClientToken</key>
	<string>8a0ec108ef6a2b03fda69aa18cb5afa8</string>
	<key>FacebookDisplayName</key>
	<string>Labely</string>
	<key>GIDClientID</key>
	<string>375628298664-1o6kaqs6de3rn8svatrpa6veplg04dgo.apps.googleusercontent.com</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>processing</string>
	</array>
	<key>UIUserInterfaceStyle</key>
	<string>Light</string>
</dict>
</plist>
